perf.data
perf.data.old
debug.log
samples/bmapv_vtpk_3857.vtpk
samples/RhodeIsland.ldgeojson

*.rdi
*.hexproj
*.exe
*.pdb

map-renderer
unoptimized-map-renderer
stripped_map-renderer
ressources/
.idea/
